.features {
	height: 680px;
	max-width: 1440px;
	margin: 0 auto;
	background-color: #F6F5F3;
	background-image: url("../img/images/bgfeatures.jpg");
	background-size: cover;
	position: relative;
 }
 
 .features_inner {
	padding: 130px 0 190px;
 }
 
 .features_title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		 -ms-flex-pack: center;
			  justify-content: center;
	-webkit-box-align: center;
		 -ms-flex-align: center;
			  align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		 -ms-flex-direction: column;
			  flex-direction: column;
 }
 
 .features_body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 45px -23px 0;
 }
 
 .features_item {
	width: 33.333%;
	text-align: center;
	padding: 0 23px;
 }
 
 .sub_sub_title {
	color: #282828;
	font-family: "Exo";
	font-size: 22px;
	font-weight: 500;
	line-height: 2;
	text-align: center;
	letter-spacing: 1;
 }