@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/*--------------------*/
body {
  margin: 0;
  font-family: "Exo", sans-serif;
  font-size: 14px;
  color: #282828;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 816px;
  background: #B7BBC7 url("../img/images/bg-1.jpg") center no-repeat;
  background-size: cover;
}

.header_inner {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.header_title {
  font-family: "Exo";
  color: #282828;
  font-size: 60px;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 43px;
}

.play {
  display: block;
  margin: 40px auto;
  width: 59px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  letter-spacing: 3px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #FF6D6D;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 3px;
  border: 0;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
.btn:hover {
  background-color: #e33434;
}

.header_subtitle {
  color: #282828;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.designe {
  overflow: hidden;
}

.designe_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.designe_inner_text {
  width: 50%;
  text-align: left;
}
.designe_inner_text .designe_title {
  color: #ff6d6d;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 3.2px;
}

.designe_title_2 {
  color: #282828;
  font-family: "Exo";
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.6px;
  margin-bottom: 22.5px;
}

.red_dots {
  color: #ff6d6d;
}

.designe_text {
  opacity: 0.66;
  color: #282828;
  font-family: "Exo";
  font-size: 18px;
  font-weight: 500;
  margin: 22.5px 0;
}

.designe_inner_img {
  width: 50%;
  height: 707px;
  position: relative;
}

.design_img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(20%, -50%);
          transform: translate(20%, -50%);
  z-index: 999;
}