@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/*--------------------*/
body {
  margin: 0;
  font-family: "Exo", sans-serif;
  font-size: 14px;
  color: #282828;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 816px;
  max-width: 1440px;
  margin: 0 auto;
  background: #B7BBC7 url("../img/images/bg-1.jpg") center no-repeat;
  background-size: cover;
}

.header_inner {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.header_title {
  font-family: "Exo";
  color: #282828;
  font-size: 60px;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 43px;
}

.play {
  display: block;
  margin: 40px auto;
  width: 59px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  letter-spacing: 3px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #FF6D6D;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 3px;
  border: 0;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
.btn:hover {
  background-color: #e33434;
}

.header_subtitle {
  color: #282828;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.designe {
  overflow: hidden;
}

.designe_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.designe_inner_text {
  width: 50%;
  text-align: left;
}

.title {
  color: #ff6d6d;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 3.2px;
}

.sub_title {
  color: #282828;
  font-family: "Exo";
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.6px;
  margin-bottom: 45px;
}

.red_dots {
  color: #ff6d6d;
}

.text {
  opacity: 0.66;
  color: #282828;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.designe_inner_img {
  width: 50%;
  height: 707px;
  position: relative;
}

.design_img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(24%, -50%);
          transform: translate(24%, -50%);
  z-index: 999;
}

.features {
  height: 680px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F6F5F3;
  background-image: url("../img/images/bgfeatures.jpg");
  background-size: cover;
  position: relative;
}

.features_inner {
  padding: 130px 0 190px;
}

.features_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px -23px 0;
}

.features_item {
  width: 33.333%;
  text-align: center;
  padding: 0 23px;
}

.sub_sub_title {
  color: #282828;
  font-family: "Exo";
  font-size: 22px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  letter-spacing: 1;
}

.newdesigne {
  height: 550px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.newdesigne_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.newdesigne_image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 26px;
}

.bground {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.macbook {
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.newdesigne_content {
  height: 550px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 70px 0 26px;
}

.partners {
  height: 650px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("../img/images/bgclients.jpg");
}

.partners_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners_human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -35px;
}

.partners_inner_item {
  width: 33.333%;
  text-align: center;
  padding: 110px 35px 0;
}

.image {
  margin-bottom: 26px;
}

.name {
  color: #ffffff;
  font-family: "Exo";
  font-size: 22px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.88px;
}

.partners_title {
  color: #ff6d6d;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
}

.text_white {
  opacity: 0.66;
  color: white;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.partners_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 105px 50px 90px;
}

.partners_company_img {
  width: 100px;
  height: auto;
}